@import "tailwindcss";

@theme {
    --color-bg: #ffffff;
    --color-primary: #6c63ff;
    --color-secondary: #ff8a71;
    --color-tertiary: #be6000;
    --color-text: #111827;
    /*Superficie - cards*/
    --color-surface: #e5e7eb;
    /*Etiquetas secundarias, info menos relevante*/
    --color-muted: #64748b;
    /*barra - fondos*/
    --color-tone: #f1f3ff;

    --font-sans: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    @apply m-0 bg-bg text-text font-sans;
    font-optical-sizing: auto;
}
